html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0 auto;
  padding: 0;
  width: 1200px;
  color: #333333;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
  -webkit-box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
          box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
  background-color: #f2f2f2;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

a {
  text-decoration: none;
}

.main {
  background-color: white;
}

.main-nav {
  position: relative;
  background-color: #ffffff;
  font-weight: 700;
  padding: 15px 72px;
}

.main-header {
  position: relative;
}

.main-header-logo {
  z-index: 1;
  position: absolute;
  width: 138px;
  height: 70px;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin: 0 auto;
}

.main-caption-container {
  background-color: #81b3d2;
  background-image: url(../img/background-mask.png), url(../img/background.jpg);
  background-repeat: no-repeat, no-repeat;
  background-position: 0 bottom, 0 -57px;
  padding: 75px 0 80px;
}

.main-caption-text {
  display: block;
  margin: 0 auto;
  width: 458px;
}

.body-hotels {
  background-color: #f2f2f2;
  -webkit-filter: none;
          filter: none;
}

.site-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.site-navigation li {
  width: 210px;
}

.site-navigation li:nth-child(4n+1) {
  margin-right: 30px;
}

.site-navigation li:nth-child(4n+2) {
  margin-right: 155px;
}

.site-navigation li:nth-child(4n+3) {
  margin-right: 30px;
}

.site-navigation li:nth-child(4n) {
  margin-right: 0px;
}

.site-navigation li:nth-child(4n+1), .site-navigation li:nth-child(4n+2) {
  text-align: left;
}

.site-navigation li:nth-child(4n+3), .site-navigation li:nth-child(4n) {
  text-align: right;
}

.site-navigation a {
  color: #333333;
}

.site-navigation a:hover, .site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: #000000;
  opacity: 0.3;
}

.current a {
  cursor: default;
  color: #766357;
}

.current a:hover, .current a:focus {
  color: #766357;
}

.advantages {
  background-color: #ffffff;
  padding-top: 62px;
}

.advantages b {
  display: block;
  text-align: center;
  margin: 0 auto 27px;
  width: 50%;
  font-size: 21px;
  font-weight: 700;
}

.advantages-header {
  text-align: center;
  margin: 0 auto 50px;
  width: 50%;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}

.advantages-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.advantages-special {
  margin-top: 49px;
  padding: 0 55px 80px;
  max-width: 33.33%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.advantages-special::before {
  display: inline-block;
  vertical-align: top;
  content: "";
  width: 90px;
  height: 90px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 21px;
}

.advantages-special-header {
  margin: 0;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  margin-bottom: 25px;
}

.advantages-special-description {
  margin: 0;
  line-height: 21px;
}

.advantages-item {
  max-width: 33.33%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #f2f2f2;
  padding: 45px 60px 60px;
  position: relative;
}

.advantages-item-header {
  margin: 0 90px 25px;
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

.advantages-item-number {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 15px;
}

.advantages-item-number::before {
  display: block;
  position: absolute;
  width: 8px;
  height: 1px;
  right: -14px;
  top: 11px;
  content: "";
  border-bottom: 1px solid white;
}

.advantages-item-number::after {
  display: block;
  position: absolute;
  width: 8px;
  height: 1px;
  left: -14px;
  top: 11px;
  content: "";
  border-bottom: 1px solid white;
}

.advantages-item-description {
  padding: 0;
  margin: 0;
  line-height: 21px;
}

.advantages-item:nth-child(6), .advantages-item:nth-child(7), .advantages-item:nth-child(8) {
  padding: 48px 68px 56px;
}

.advantages-item:nth-child(6) .advantages-item-header, .advantages-item:nth-child(7) .advantages-item-header, .advantages-item:nth-child(8) .advantages-item-header {
  margin: 0 70px 22px;
}

.advantages-item:nth-child(6) .advantages-item-number, .advantages-item:nth-child(7) .advantages-item-number, .advantages-item:nth-child(8) .advantages-item-number {
  margin-bottom: 18px;
}

.advantages-item:nth-child(6) .advantages-item-number::before, .advantages-item:nth-child(7) .advantages-item-number::before, .advantages-item:nth-child(8) .advantages-item-number::before {
  display: block;
  position: absolute;
  width: 8px;
  height: 1px;
  right: -14px;
  top: 11px;
  content: "";
  border-bottom: 1px solid black;
}

.advantages-item:nth-child(6) .advantages-item-number::after, .advantages-item:nth-child(7) .advantages-item-number::after, .advantages-item:nth-child(8) .advantages-item-number::after {
  display: block;
  position: absolute;
  width: 8px;
  height: 1px;
  left: -14px;
  top: 11px;
  content: "";
  border-bottom: 1px solid black;
}

.important {
  padding-top: 47px;
  min-width: 100%;
  background-color: #81b3d2;
  color: #ffffff;
}

.important .advantages-item-header {
  margin: 0 50px 20px;
}

.important .advantages-item-number {
  margin-bottom: 20px;
}

.important-city {
  padding-right: 860px;
}

.important-city::after {
  position: absolute;
  width: 66.666%;
  height: 100%;
  right: 0;
  top: 0;
  content: "";
  background-color: #a6b3a1;
  background-image: url(../img/real-city.jpg);
  background-position: center;
  background-size: cover;
}

.important-bridge {
  padding-left: 849px;
  padding-right: 49px;
}

.important-bridge::before {
  position: absolute;
  width: 66.666%;
  height: 100%;
  left: 0;
  top: 0;
  content: "";
  background-color: #e4af98;
  background-image: url(../img/dev-bridge.jpg);
  background-position: center;
  background-size: cover;
}

.apartments::before {
  background-image: url(../img/icon-1.svg);
}

.food::before {
  background-image: url(../img/icon-3.svg);
}

.presents::before {
  background-image: url(../img/icon-2.svg);
}

.container {
  width: 33%;
  display: inline-block;
  vertical-align: top;
}

.trip {
  position: relative;
  background-color: white;
  padding-top: 60px;
  background-image: url(../img/map.jpg);
  background-repeat: no-repeat;
  background-position: 0 292px;
}

.trip-header {
  text-align: center;
  margin: 0 auto 43px;
  font-weight: 400;
  font-size: 14px;
  width: 70%;
}

.trip b {
  width: 70%;
  display: block;
  text-align: center;
  margin: 0 auto 25px;
  font-size: 30px;
}

.trip-form {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  border: 0px;
  margin: 0 auto;
  padding: 55px;
  width: 458px;
  min-height: 250px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
          box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
}

.trip-form-close {
  display: block;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-name: close;
          animation-name: close;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes close {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  100% {
    -webkit-transform: translateY(-6000px);
            transform: translateY(-6000px);
    display: none;
  }
}

@keyframes close {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  100% {
    -webkit-transform: translateY(-6000px);
            transform: translateY(-6000px);
    display: none;
  }
}

.trip-form-show {
  display: block;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-name: show;
          animation-name: show;
}

@-webkit-keyframes show {
  0% {
    -webkit-transform: translateY(-6000px);
            transform: translateY(-6000px);
  }
  50% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes show {
  0% {
    -webkit-transform: translateY(-6000px);
            transform: translateY(-6GG000px);
  }
  50% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.trip-form-error {
  display: block;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-name: shake;
          animation-name: shake;
}

@-webkit-keyframes shake {
  0%, 20%, 40%, 60%, 80% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes shake {
  0%, 20%, 40%, 60%, 80% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.trip-form-item {
  position: relative;
  padding: 0;
  margin: 0;
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  margin-bottom: 32px;
}

.trip-form-item label {
  display: inline-block;
  vertical-align: middle;
  margin-right: 12px;
  white-space: nowrap;
  width: 95px;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-left: 2px;
}

.trip-form-item input {
  background-color: #f2f2f2;
  border: none;
  width: 343px;
  height: 36px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  padding-right: 40px;
  text-transform: uppercase;
}

.trip-form-item input:hover, .trip-form-item input:hover ~ a {
  background-color: #ebebeb;
}

.trip-form-item input:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  margin: 0;
  padding: 0;
  padding-left: 10px;
  outline: none;
}

.trip-form-item input:focus ~ a {
  background-color: white;
}

.trip-form-item:last-child {
  padding-left: 0;
}

.trip-form-index {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 23px;
}

.trip-form-index .trip-form-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.trip-form-index .trip-form-item:last-child .minus {
  left: 85px;
}

.trip-form-index .form-index-label {
  margin-right: 18px;
  padding-left: 0;
  white-space: nowrap;
  width: 95px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.trip-form-index .form-index-label-last {
  width: 40px;
  margin-right: 25px;
}

.trip-form-index .form-index-input {
  padding: 5px 40px 5px 55px;
  width: 114px;
  height: 38px;
  position: relative;
}

.trip-form-index .form-index-input:focus {
  border: 2px solid #e5e5e5;
  padding: 5px 40px 5px 55px;
}

.trip-form-index .form-index-input:focus ~ .plus {
  background-color: white;
  border-top: 2px solid #e5e5e5;
  border-bottom: 2px solid #e5e5e5;
  border-right: 2px solid #e5e5e5;
  margin-right: -1px;
}

.trip-form-index .form-index-input:focus ~ .minus {
  background-color: white;
  border-top: 2px solid #e5e5e5;
  border-bottom: 2px solid #e5e5e5;
  border-left: 2px solid #e5e5e5;
  margin-left: -1px;
}

.trip-button {
  display: inline-block;
  vertical-align: top;
  width: 40px;
  height: 40px;
  background-color: #f2f2f2;
  color: #a9a9a9;
}

.trip-button:hover, .trip-button:focus {
  color: #000000;
}

.trip-button:active {
  color: #83b3d0;
}

.trip-button-show {
  display: block;
  width: 290px;
  margin: 0 auto;
  white-space: nowrap;
  padding: 30px 140px;
  font-size: 21px;
  font-weight: 700;
  background-color: #766357;
  color: #ffffff;
}

.trip-button-show:hover, .trip-button-show:focus {
  background-color: #604e43;
}

.trip-button-show:active {
  background-color: #503e33;
}

.trip-button-calendar {
  width: 22px;
  height: 22px;
  position: absolute;
  top: 8px;
  right: 8px;
}

.trip-button-submit {
  border: none;
  padding: 17px 0;
  width: 100%;
  margin: 0 auto;
  font-size: 21px;
  font-weight: bold;
  background-color: #81b3d2;
  text-transform: uppercase;
  color: #ffffff;
}

.trip-button-submit:hover, .trip-button-submit:focus {
  background-color: #669ec0;
}

.trip-button-submit:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.svg:not(:hover), .svg:not(:focus) {
  opacity: 0.5;
  fill: #333333;
}

.svg:hover, .svg:focus {
  opacity: 1;
  fill: #333333;
}

.svg:active {
  opacity: 1;
  fill: #81b3d2;
}

.trip-index-button {
  background-color: #f2f2f2;
  position: absolute;
  width: 34px;
  height: 34px;
}

.trip-index-button:focus, .trip-index-button:hover {
  background-color: white;
}

.minus {
  position: absolute;
  left: 132px;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 38px;
  height: 38px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url(../img/minus.png);
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.4;
}

.minus:hover {
  background-color: #f2f2f2;
  opacity: 0.1;
}

.minus:active {
  opacity: 1;
  background-image: url(../img/minus-active.png);
}

.plus {
  position: absolute;
  right: 0px;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 38px;
  height: 38px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-image: url(../img/plus.png);
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.4;
}

.plus:hover {
  background-color: #f2f2f2;
  opacity: 1;
}

.plus:active {
  opacity: 1;
  background-image: url(../img/plus-active.png);
}

.filters {
  color: #ffffff;
  background: url(../img/filters-background.jpg) no-repeat center;
  background-color: #746665;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 28px 69px 29px 72px;
}

.filters-checkbox:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.filters-checkbox:checked + label::before {
  background-image: url(../img/checkbox-on.png);
}

.filters-checkbox:disabled + label::before {
  background-image: url(../img/checkbox-off-disabled.png);
}

.filters-checkbox:checked:disabled + label::before {
  background-image: url(../img/checkbox-on-disabled.png);
}

.filters-set {
  min-width: 230px;
  margin-right: 25px;
  margin-left: 0;
  padding: 0;
  border: 0px;
}

.filters-set legend {
  margin-bottom: 22px;
  line-height: 21px;
  font-weight: 700;
  font-size: 16px;
}

.filters-set ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filters-set li {
  margin-bottom: 20px;
  margin-right: 20px;
  position: relative;
}

.filters-set li:last-child {
  margin-bottom: 0;
}

.filters-set label {
  font-weight: 400;
  font-size: 14px;
  padding-left: 41px;
}

.filters-set label::before {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  background-image: url(../img/checkbox-off.png);
  background-repeat: no-repeat;
  width: 27px;
  height: 24px;
  content: "";
}

.filters-set-container {
  margin-left: auto;
}

.filters-set-price {
  width: 320px;
  padding: 0;
  border: 0px;
}

.filters-set-price legend {
  letter-spacing: 0.3px;
  padding-left: 2px;
  margin-bottom: 9px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  height: 32px;
  margin-bottom: 20px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  font-size: 0;
  position: relative;
}

.price-controls label {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 38px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls input {
  width: 50px;
  height: 35px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.price-controls .min-price, .price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls .max-price {
  padding-left: 57px;
}

.price-controls::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 22px;
  background: #ffffff;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.range-toggle:hover {
  width: 5px;
}

.filters-pricing-frombutton {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: transparent;
}

.filters-button-submit {
  display: block;
  margin-left: 87px;
  padding: 6px 35px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.filters-button-submit:hover, .filters-button-submit:focus {
  background-color: #ffffff;
  color: #000000;
}

.results-head {
  padding: 10px 70px 7px;
  border-bottom: 2px solid #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 26px;
}

.results-head-finded {
  margin-right: 10px;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  min-width: 155px;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

.results-head span {
  margin-left: 5px;
}

.results-head-directions-sortbuttons {
  height: 30px;
  width: 43px;
  margin-left: auto;
  position: relative;
}

.head-direction-sortbutton {
  width: 10px;
  height: 10px;
  opacity: 0.3;
}

.head-direction-sortbutton:hover {
  opacity: 1;
  cursor: pointer;
}

.head-direction-sortbutton:focus::before, .head-direction-sortbutton:focus::after {
  outline: 5px auto -webkit-focus-ring-color;
}

.head-direction-sortbutton:active::before, .head-direction-sortbutton:active::after {
  background-image: url(../img/arrow-active.png);
}

.up::before {
  position: absolute;
  display: block;
  width: 10px;
  height: 10px;
  bottom: 50%;
  left: 10px;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  content: "";
  background-image: url(../img/arrow.png);
}

.down::after {
  position: absolute;
  display: block;
  width: 10px;
  height: 10px;
  bottom: 50%;
  right: 0;
  -webkit-transform: translate(-50%, 50%) rotate(180deg);
          transform: translate(-50%, 50%) rotate(180deg);
  content: "";
  background-image: url(../img/arrow.png);
}

.active {
  opacity: 1;
}

.active::before, .active::after {
  background-image: url(../img/arrow-active.png);
}

.results-header, .results-head-sortlist {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.results-header {
  margin-right: 41px;
}

.results-head-sortlist {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.results-head-sortlist li {
  margin-right: 33px;
}

.head-type-sortbutton {
  cursor: pointer;
  border-bottom: 1px dotted #81b3d2;
  color: #000000;
  opacity: 0.3;
  text-decoration: none;
}

.head-type-sortbutton.current {
  border: none;
  opacity: 1;
  color: #81b3d2;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.head-type-sortbutton:hover, .head-type-sortbutton:focus {
  color: #81b3d2;
  opacity: 1;
}

.head-type-sortbutton:active {
  border: none;
  color: #000000;
}

.results-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.results-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  border-bottom: 2px solid #f2f2f2;
  padding: 0 72px 30px;
  margin-bottom: 25px;
}

.results-item img {
  display: block;
  max-width: 100%;
  height: auto;
}

.results-item-face {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
  display: inline-block;
  vertical-align: middle;
}

.results-item-face:hover, .results-item-face:focus {
  color: #81b3d2;
}

.results-item-face:active {
  color: rgba(0, 0, 0, 0.3);
}

.results-item-header {
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
}

.results-item-description {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  font-weight: 400;
}

.results-item-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.results-item-rating-text {
  margin: 0;
  padding: 4px 14px;
  font-weight: 400;
  line-height: 21px;
  background-color: #f2f2f2;
}

.results-item:last-child {
  margin-bottom: 0;
}

.results-item:last-child .results-item-header {
  letter-spacing: 0.4px;
}

.results-item .results-img-container {
  margin: 0;
  padding: 0;
  margin-right: 30px;
  max-width: 135px;
}

.rating-stars {
  height: 18px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  background-image: url(../img/star.png);
  background-repeat: repeat-x;
  margin: 0;
  margin-top: 2px;
}

.rating-stars-two {
  width: 44px;
}

.rating-stars-three {
  width: 67px;
}

.rating-stars-four {
  width: 89px;
}

.item-container {
  min-width: 300px;
  margin-bottom: 0;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.description-section {
  margin: 0;
  margin-right: 3px;
  display: inline-block;
  vertical-align: top;
  min-width: 110px;
}

.description-section span {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  margin-bottom: 14px;
}

.ref {
  display: block;
  text-align: center;
  vertical-align: bottom;
  font-weight: 700;
  color: #ffffff;
}

.ref-about {
  padding: 3px 0;
  background-color: #81b3d2;
}

.ref-about:hover, .ref-about:focus {
  background-color: #669ec0;
}

.ref-about:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.ref-booking {
  padding: 3px 16px;
  font-weight: 700;
  background-color: #766357;
}

.ref-booking:hover, .ref-booking:focus {
  background-color: #604e43;
}

.ref-booking:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.map-fallback {
  position: relative;
  top: -602px;
  z-index: 0;
}

.footer {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-main {
  position: relative;
  margin-top: -127px;
}

.wrapper {
  -ms-flex-preferred-size: 33.33%;
      flex-basis: 33.33%;
  padding: 20px;
  padding-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hashtag {
  color: #000000;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
}

.social-list {
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 80%;
}

.social-list li {
  margin-right: 6px;
  padding-bottom: 6px;
}

.social-list li:last-child {
  margin-right: 0;
}

.social-list a {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.social-list a:hover, .social-list a:focus {
  background-color: #669ec0;
}

.social-list a:active {
  background-color: #5496bd;
}

.social-list a:active::before {
  opacity: 0.3;
}

.social-list a::before {
  position: absolute;
  display: block;
  bottom: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  content: "";
}

.social-list .twitter::before {
  width: 17px;
  height: 15px;
  background-image: url(../img/tt.svg);
  background-size: 17px 15px;
  color: red;
}

.social-list .facebook::before {
  width: 12px;
  height: 22px;
  background-image: url(../img/fb.svg);
  background-size: 12px 22px;
}

.social-list .youtube::before {
  width: 20px;
  height: 16px;
  background-image: url(../img/ytb.svg);
  background-size: 20px 16px;
}

.copyright {
  padding: 0;
  color: #000000;
}

.copyright span {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

.copyright .academy-icon {
  display: inline-block;
  vertical-align: middle;
}

.copyright .academy-icon:hover path, .copyright .academy-icon:hover rect, .copyright .academy-icon:focus path, .copyright .academy-icon:focus rect {
  fill: #81b3d2;
}

.copyright .academy-icon:active path, .copyright .academy-icon:active rect {
  fill: #bdbbbc;
}
