html {
  box-sizing: border-box;
}

*::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  padding: 0 40px;
  width: 1200px;
  color: #333333;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

a {
  text-decoration: none;
}

.main-nav {
  position: relative;
  background-color: #ffffff;
  font-weight: 700;
  padding: 15px 75px;
}

.main-header-logo {
  position: absolute;
  width: 138px;
  height: 70px;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.main-background {
  background-image: url("../img/background.jpg"), url("../img/background-mask.png");
  background-repeat: no-repeat, no-repeat;
  background-position: 0 -60px, 0 bottom;
  padding: 75px 370px;
}

.site-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.site-navigation a {
  color: #333333;
}

.site-navigation a:hover, .site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: #000000;
  opacity: 0.3;
}

.site-navigation .current {
  color: #766357;
}

.advantages {
  background-color: #ffffff;
  padding-top: 60px;
  margin-bottom: 60px;
}

.advantages-head {
  margin: 0;
  padding: 0;
}

.advantages-head b {
  display: block;
  text-align: center;
  margin-bottom: 30px;
  padding: 0 70px;
  font-size: 21px;
  font-weight: 700;
}

.advantages-header {
  padding: 0;
  text-align: center;
  padding: 0 45px 35px;
  font-size: 14px;
  font-weight: 400;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.advantages-special {
  margin-top: 60px;
  flex-basis: 33.3333%;
}

.advantages-special-header {
  padding: 0;
  margin: 0;
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  padding-top: 100px;
  margin-bottom: 20px;
}

.advantages-special-description {
  margin: 0;
  padding: 0;
  padding: 0 55px;
  margin-bottom: 85px;
  line-height: 21px;
}

.advantages-item {
  flex-basis: 33.3333%;
  background-color: #f2f2f2;
}

.advantages-item-header {
  margin: 0;
  padding: 45px 0 20px;
  padding-top: 45px;
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
}

.advantages-item-number {
  display: inline-block;
  margin-bottom: 20px;
}

.advantages-item-description {
  padding: 0;
  margin: 0;
  padding: 0 55px 60px;
  line-height: 21px;
}

.advantages-item:first-child, .advantages-item:nth-child(5) {
  flex-basis: 100%;
  background-color: #81b3d2;
  color: #ffffff;
}

.trip {
  position: relative;
}

.trip-text {
  text-align: center;
  background-color: #ffffff;
  margin-bottom: 40px;
}

.trip-text b {
  display: block;
  margin-bottom: 25px;
  font-size: 30px;
  font-weight: 700;
}

.trip-form {
  position: absolute;
  left: 0;
  right: 0;
  border: 0px;
  margin: 0 auto;
  width: 568px;
  height: 395px;
  background-color: #ffffff;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
}

.trip-form fieldset {
  border: 0px;
  padding: 55px;
  margin: 0;
}

.trip-form-index {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.trip-form-index .trip-form-item {
  display: flex;
  align-items: center;
}

.trip-form-index .trip-form-item label {
  width: 80px;
  margin-right: 35px;
}

.trip-form-index .trip-form-item input {
  width: 40px;
}

.trip-form-index .trip-form-item:nth-child(2) label {
  width: 40px;
  margin-right: 25px;
}

.trip-form-item {
  padding: 0;
  margin: 0;
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  margin-bottom: 30px;
}

.trip-form-item label {
  display: inline-block;
  margin-right: 15px;
  width: 95px;
}

.trip-form-item input {
  background-color: #f2f2f2;
  border: none;
  width: 340px;
  height: 38px;
}

.trip-form-item input:hover {
  background-color: #ebebeb;
}

.trip-form-item input:focus {
  background-color: #ffffff;
}

.trip-button {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #f2f2f2;
  color: #a9a9a9;
}

.trip-button:hover, .trip-button:focus {
  color: #000000;
}

.trip-button:active {
  color: #83b3d0;
}

.trip-button-show {
  display: block;
  width: 290px;
  margin: 0 auto;
  padding: 30px 140px;
  font-size: 21px;
  font-weight: 700;
  background-color: #766357;
  color: #ffffff;
}

.trip-button-show:hover, .trip-button-show:focus {
  background-color: #604e43;
}

.trip-button-show:active {
  background-color: #503e33;
}

.trip-button-calendar {
  position: absolute;
}

.trip-button-submit {
  padding: 20px 200px;
  margin: 0 auto;
  font-size: 21px;
  font-weight: bold;
  background-color: #81b3d2;
  text-transform: uppercase;
  color: #ffffff;
}

.trip-button-submit:hover, .trip-button-submit:focus {
  background-color: #669ec0;
}

.trip-button-submit:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.filters {
  color: #ffffff;
  background: url("../img/filters-background.jpg") no-repeat center;
  display: flex;
  padding-top: 30px;
  padding-left: 55px;
}

.filters-set {
  margin-right: 100px;
  border: 0px;
}

.filters-set legend {
  margin-bottom: 15px;
  line-height: 21px;
  font-weight: 700;
  font-size: 16px;
}

.filters-set ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filters-set li {
  margin-bottom: 20px;
}

.filters-set label {
  font-weight: 400;
  font-size: 14px;
}

.filters-set-container {
  margin-left: auto;
}

.filters-pricing-frombutton {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: transparent;
}

.filters-button-submit {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: transparent;
}

.filters-button-submit:hover, .filters-button-submit:focus {
  background-color: #ffffff;
  color: #766357;
}

.results-head {
  padding-top: 10px;
  padding-left: 70px;
  border-bottom: 2px solid #f2f2f2;
  display: flex;
  align-items: center;
  margin-bottom: 35px;
}

.results-head-finded {
  margin-right: 50px;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.results-header, .results-head-sortlist {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.results-header {
  margin-right: 35px;
}

.results-head-sortlist {
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none;
}

.results-head-sortlist li {
  margin-right: 35px;
}

.head-type-sortbutton {
  cursor: pointer;
  border-bottom: 1px dotted #81b3d2;
  color: #000000;
  opacity: 0.3;
  text-decoration: none;
}

.head-type-sortbutton.current {
  border: none;
  opacity: 1;
  color: #81b3d2;
  font-family: 'PT Sans';
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.head-type-sortbutton:hover, .head-type-sortbutton:focus {
  color: #81b3d2;
  opacity: 1;
}

.head-type-sortbutton:active {
  border: none;
  color: #000000;
}

.results-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.results-item {
  display: flex;
  border-bottom: 2px solid #f2f2f2;
  margin-bottom: 25px;
  padding-left: 70px;
  padding-right: 80px;
}

.results-item img {
  margin-right: 30px;
}

.results-item-face {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
}

.results-item-face:hover, .results-item-face:focus {
  color: #81b3d2;
}

.results-item-face:active {
  color: rgba(0, 0, 0, 0.3);
}

.results-item-header {
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
}

.results-item-textcontainer {
  margin-bottom: 15px;
}

.results-item-description {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  font-weight: 400;
}

.results-item-description span {
  display: inline-block;
  margin-right: 35px;
}

.results-item-rating {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  justify-content: space-between;
  margin-bottom: 15px;
}

.results-item:last-child {
  margin-bottom: 0;
}

.item-about-ref {
  padding: 5px 17px;
  margin-right: 3px;
  background-color: #81b3d2;
  color: #ffffff;
}

.item-about-ref:hover, .item-about-ref:focus {
  background-color: #669ec0;
}

.item-about-ref:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.item-booking-ref {
  padding: 5px 17px;
  background-color: #766357;
  color: #ffffff;
}

.item-booking-ref:hover, .item-booking-ref:focus {
  background-color: #604e43;
}

.item-booking-ref:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.results-item-rating-text {
  font-weight: 400;
  line-height: 21px;
  background-color: #f2f2f2;
}

.footer {
  padding: 40px 100px 30px 135px;
  display: flex;
  background-color: rgba(255, 255, 255, 0.8);
  justify-content: space-between;
  align-items: center;
}

.footer-main {
  position: relative;
  margin-top: -125px;
}

.hashtag {
  color: #000000;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
}

.social-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  width: 150px;
}

.social-list li {
  margin-right: 5px;
  width: 46px;
  height: 48px;
}

.social-list a {
  background-color: #81b3d2;
}

.social-list a:hover, .social-list a:focus {
  background-color: #669ec0;
}

.social-list a:active {
  background-color: #5496bd;
}

.copyright {
  padding: 0;
  margin: 0;
  color: #000000;
}

.copyright span {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.copyright svg {
  display: inline-block;
  vertical-align: middle;
}

.copyright:hover span, .copyright:focus span {
  color: #81b3d2;
}

.copyright:hover #svg, .copyright:focus #svg {
  fill: #81b3d2;
}

.copyright:active span {
  color: #bdbbbc;
}

.copyright:active #svg {
  fill: #bdbbbc;
}
